.team
  &-container
    display flex
    flex-direction column
    justify-content center
    align-items center
    background-color $white
    color $textColor
    border-radius 8px

  position relative
  display flex
  flex-direction column
  justify-content center
  align-items center

  .member
    &-container
      display inline-flex
      flex-direction row

    width 100px
    margin 1rem
    display inline-flex
    flex-direction column
    justify-content center
    align-items center

    img
      width 100px
      height 100px
      border-radius 50px

    p
      margin-top 1rem
      font-size 16px
      color $purple

      &.border-tag
        margin .5rem 0
        font-size 14px
        background-color $purple
        color $white
        padding 5px 7px
        border-radius 1rem


